<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change H_EC to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixUSB</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixHPET</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>HibernationFixup</key>
		<true/>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 debug=0x100 kext-dev-mode=1 -alcoff</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>MAC</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Hidden</key>
					<false/>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>1</integer>
		</dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Value</key>
				<string>#display</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Value</key>
				<data>/////w==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Device</key>
				<string>NVidia</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on AMD</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on AMD</string>
				<key>Value</key>
				<string>#display</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for AMD</string>
				<key>Value</key>
				<data>/////w==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus vendor-id to prevent graphics drivers loading for AMD</string>
				<key>Value</key>
				<data>//8AAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>vendor-id</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus device-id to prevent graphics drivers loading for AMD</string>
				<key>Value</key>
				<data>//8AAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device-id</string>
				<key>Device</key>
				<string>ATI</string>
			</dict>
		</array>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Device</key>
				<string>IntelGFX</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Device</key>
				<string>HDA</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>layout-id=3</string>
				<key>Value</key>
				<data>AwAAAA==</data>
				<key>Key</key>
				<string>layout-id</string>
				<key>Device</key>
				<string>HDA</string>
			</dict>
			<dict>
				<key>Key</key>
				<string>PinConfigurations</string>
				<key>Value</key>
				<data></data>
				<key>Device</key>
				<string>HDA</string>
			</dict>
		</array>
		<key>UseIntelHDMI</key>
		<true/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>model</key>
				<string>8 Series/C220 Series Chipset High Definition Audio Controller</string>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
		</dict>
		<key>HDMIInjection</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>Custom</key>
			<data>AP///////wAw5FkCAAAAAAATAQOAIxN4ChXVnllQmCYOUFQAAAABAQEBAQEBAQEBAQEBAQEBGjaAoHA4H0AwIDUAWcIQAAAZAAAAAAAAAAAAAAAAAAAAAAAAAAAA/gBMRyBEaXNwbGF5CiAgAAAA/gBMUDE1NldGMS1UTEYzADw=</data>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaNoEFI</key>
		<true/>
		<key>LoadVBios</key>
		<true/>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AABQAQAAAGChBwAAoQcAAA==</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AACQAAAAAGDZCgAA2QoAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI Out By Sky</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BAAAADIAAAAOAAAAAAAAAA==</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BAAAAAAAAAAOAAAAAAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI Out By Sky</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>MAAAAAEFCwAABAAABwEAAA==</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>MAAAAAEFCQAABAAABwEAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI Out By Sky</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQLAAAEAAAHAQAAAwYDAA==</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQJAAAEAAAHAQAAAwYDAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI Out By Sky</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BwAmDQEDBAMAAAAEAAAgAg==</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BwAmDQEDBAMAAAACAAAwAQ==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI Out By Sky</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAAdBc=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Second Stage patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQKAAAIAACHAAAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQJAAAIAACHAAAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAAAHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUJAAAIAAAHAQAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQJAAAEAAAHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQJAAAIAAAHAQAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAEAAAHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQKAAAIAAAHAQAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, alternate/later versions macOS, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAEAAAHAQAA</data>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQKAAAIAAAHAQAA</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAAEAAAAAeAAAABQUJAQ==</data>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e0008 on 10.10.2-10.12.x (c) syscl</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQAAAEAAAAAPAAAABQUJAQ==</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x,10.12.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAAEAAAAAeAgAABQUJAQ==</data>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e0008 on 10.13.x (c) syscl</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQAAAEAAAAAfAgAABQUJAQ==</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAAEAAAADWAAAABQUAAA==</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQAAAEAAAAAeAAAABQUAAA==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQSAAAIAACHAAAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQSAAAIAACHAAAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a260005 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAAAHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUSAAAIAAAHAQAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQJAAAEAAAHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQSAAAIAAAHAQAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAEAAAHAQAA</data>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQSAAAIAAAHAQAA</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAAIAAAAAwAAAAM=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 48MB framebuffer, 48MB cursor bytes, 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>CAAuCgEDAwMAAAAE</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>CAAuCgEDAwMAAAAI</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 0x0a2e0008</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>CAAuCgEDAwMAAAAE</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>CAAuCgEDAwMAAAAG</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Enable 96MB DVMT-prealloc, 0x0a2e0008</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AAgAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AAAAYNkKAADZCgAAAAAAAAAAAAAAAAgA</data>
				<key>Replace</key>
				<data>AAAAgNkKAADZCgAAAAAAAAAAAAAAAAgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HD4600 1536-&gt;2048</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Replace</key>
				<data>BgAmCgEDAgIAAAACAAAwAQAAkAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes (vbo), 2 ports only (RehabMan)</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>hwAAAAIECQAABAAAhwAAAA==</data>
				<key>Replace</key>
				<data>hwAAAP8AAAABAAAAQAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable 0204 port</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>MAAAAAEFCQAABAAAhwAAAA==</data>
				<key>Replace</key>
				<data>MAAAAAEFCQAACAAAhwAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Open HD audio</string>
			</dict>
		</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13F</string>
		<key>Board-ID</key>
		<string>Mac-551B86E5744E2388</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP143.88Z.F000.B00.1809280842</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02729301GUJ1JH8C</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,3</string>
		<key>SmUUID</key>
		<string>D5D89D94-C508-489B-BF5E-8AFCF4978C9C</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>185.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02V30EVHTD5</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>09/28/2018</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Comment</key>
	<string>This file is for Haswell graphics that require FakeID=0x04128086</string>
</dict>
</plist>